html {
  scroll-behavior: auto !important;
}

body {
  height: auto;
}

@media (max-width: 768px){
  .sticky-inner-wrapper {
    position: static!important;
    transform: none !important;
    width: auto !important;
  }

  .sticky-outer-wrapper {
    height: auto !important;
  }
}
