.myMasonryGrid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.myMasonryGrid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.myMasonryGrid_column > div {
  margin-bottom: 1rem;
}

.showTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.episodeName {
  font-size: 1.3rem;
  font-weight: bold;
}